# Ignore venv directory
venv/
**/venv/

# Ignore React project
**/node_modules/
**/build/

**/*.csv

**/*.ipynb

notebooks/

**/target/

.idea/discord.xml
.idea/workspace.xml

map-of-anime/src/main/resources/static/