# NOTE:
# use this env file only for local development without docker
# for docker use the global .env file in ../

MAL_API_URL=
MAL_CLIENT_ID=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


# X-MAL-CLIENT-ID